.list-group-item .list-group-inner{
    
    border-style: hidden;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.list-group-item {
    
    border-style: hidden;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}