
.mat-column-PRICE {
    text-align: right;
       justify-content: flex-end;
  }
.mat-mdc-row {
    height: auto;
  }
  
.mat-mdc-cell{
    padding: 0px;
    margin: 0px;
  }
table  {

  background-color: transparent;

  }  
.logo{
    height: 100%;
    display:flex; flex-direction: row;justify-content: center; align-items: center;
  }
.flags{
    display:flex; flex-direction: row;justify-content: end; align-items: center;
  }
.flags .flag{
    
    margin: 3px;
  }
  .img .logo{
    display:flex; flex-direction: row;justify-content: center; align-items: center;
  }
  h1{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1.8rem;
    line-height: 1.4; /* 1.5 */
    color: #ccac00;
    font-weight: 900;
    background-color: transparent;

  }
  h4{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 100;
    font-size: 1.0rem;
    line-height: 1.4; /* 1.5 */
    color: #f3f6f4;
  background-color: transparent;

  }