:root {
    --sidenav-width: 300px;
    --sidenav-collapsed-width: 20px;
  }
  
  body {
    margin: 0;
    background-color: #353333;
    color: #ccac00;
    
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }

  h1{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1.8rem;
    line-height: 1.4; /* 1.5 */
    color: #ccac00;
    font-weight: 900;
    //group header title font
  
    background-color: transparent;

  }

